body {
    margin: 0;
    font-family: 'Lexend';
}

.menuIcon{
    width: 2.5vw;
    height: auto;
    position: absolute;
    right: 3%;
    top: 6%;
}
.basketball1 {
    width: 6vw;
    height: auto;
    position: absolute;
    left: 37vw;
    top: 29vw;
}
/* .trajectory {
    width: 535px;
    height: auto;
    position: absolute;
    left: 665px;
    top: 495px;
} */
.basketball2 {
    width: 6vw;
    height: auto;
    position: absolute;
    left: 1200px; /* adjust later*/
    top: 1630px; /* ad later*/
}
.white-line {
    width: 100%;
    height: 2vw;
    position: absolute;
    left: 0%;
    top: 110vw;
}

.banner1 {
    color: #FFFFFF;
    position: absolute;
    font-size: 2.5vw;
    left: 4vw;
    top: 25vw;
}
.banner2 {
    color: #FFFFFF;
    position: absolute;
    font-size: 2.5vw;
    left: 50%;
    top: 108vw;
    transform: translate(-50%, -50%);
}

.text1 {
    color: #FFFFFF;
    position: absolute;
    font-size: 2.3vw;
    left: 4vw;
    top: 32vw;
}
.text2 {
    color: #FFFFFF;
    position: absolute;
    font-size: 2.3vw;
    text-align: center;
    left: 22.5%;
    top: 110vw;
}
.text3 {
    color: #FFFFFF;
    position: absolute;
    font-size: 2.3vw;
    left: 50%;
    top: 1900px;
    transform: translate(-50%, -50%);
}

/* .hr {
    border-color: #FFFFFF;
    position: absolute;
    top: 1vw;
} */

.Language{
    color: #FFFFFF;
    position: absolute;
    font-size: 1.8vw;
    right: 8%;
    top: 6%;
}

.container {
    font-size: 3vw; /* 假設父元素的字體大小為 16 像素 */
  }
  
  .text {
    font-size: 1.5em; /* 文字大小為其父元素字體大小的 1.5 倍，因此實際大小為 24 像素 */
  }
  